In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/micha/Desktop/WebText/Final Project/data_for_training/sentiment_dataset.csv")
df

                                                  Comment  Sentiment
0       when modi promised a minimum government maximu...       -1.0
1       talk all the nonsense and continue all the dra...        0.0
2       what did just say vote for modi  welcome bjp t...        1.0
3       asking his supporters prefix chowkidar their n...        1.0
4       answer who among these the most powerful world...        1.0
...                                                   ...        ...
269752  Planting the flag is the consequence of not be...        1.0
269753  ND has zero incentive to join a conference now...        1.0
269754  It's because they're spoiled fucking brats. Th...        1.0
269755  Defend your field, or face the consequences. A...        0.0
269756  No one in football would even attempt to do so...       -1.0

[269757 rows x 2 columns]

In [3]:
cat_counts = df['Sentiment'].value_counts()
cat_counts

 1.0    116114
 0.0     90598
-1.0     63038
Name: Sentiment, dtype: int64

In [13]:
df['Sentiment'] = df['Sentiment'].replace({'positive': 1, 'neutral': 0, 'negative': -1})

df

,Comment,Created_UTC,Comment_ID,Sentiment
0,WHATS GOING ON WITH JAMARR CHASE!?,1733078066,lzwpffq,-1
1,waiting for the sweet release of death,1733078066,lzwpfby,-1
2,"There’s holding on every play, I agree make it...",1733078065,lzwpfbs,1
3,texans are the worst good team in the nfl,1733078065,lzwpf9r,-1
4,Yeah it’s been fucking us all these last coupl...,1733078065,lzwpf7u,-1
...,...,...,...,...
4643,Planting the flag is the consequence of not be...,1733021408,lztbdi9,1
4644,ND has zero incentive to join a conference now...,1733021403,lztbd1u,1
4645,It's because they're spoiled fucking brats. Th...,1733021379,lztbasa,1
4646,"Defend your field, or face the consequences. A...",1733021307,lztb47h,0
4647,No one in basketball would even attempt to do ...,1733021299,lztb3jp,-1

In [14]:
cat_counts = df['Sentiment'].value_counts()
cat_counts

 1    1869
 0    1569
-1    1210
Name: Sentiment, dtype: int64

In [15]:
df['Sentiment'] = pd.to_numeric(df['Sentiment'], errors='coerce')

cat_counts = df['Sentiment'].value_counts()

cat_counts

 1    1869
 0    1569
-1    1210
Name: Sentiment, dtype: int64

In [16]:
df.to_csv('new_file.csv', index=False)